
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Welcome Admin</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Students</a></li>
          <li><a href="#">Exams</a></li>
          <li><a href="#">Classes</a></li>
          <li><button (click)=logout() class="btn-logout"><a href="">Sign Out</a></button></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h3>ADMIN WORKS!</h3>
      <p>Loading...</p>
    </div>
  <main class="main">
    <router-outlet></router-outlet>
  </main>


